  <html style="background-color: antiquewhite;">
    
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <p>
        <mat-toolbar color="primary">
          <span>Lovely Pet</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          <form class="form-inline my-2 my-lg-0" style="margin-left: 1300px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
          <div style="margin-left: 20px;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu" style="margin-left: 20px;">
            <mat-icon>menu</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/home">Home</button>
                <button mat-menu-item routerLink="/profile">Profile</button>
                <button mat-menu-item routerLink="/graph">Graph</button>
                <button mat-menu-item routerLink="/rank">Ranking</button>
                <button mat-menu-item routerLink="/logout">Log out</button>
              </mat-menu>
          </button>
        </mat-toolbar>
      </p>


    <body style="background-color: antiquewhite; padding: 0 250px;">
      
      <div class="row" style="margin-top: 100px;">
        <div class="col-md-5" (click)="onClickC1()">
            <img [src]="character1Image.image_url" width="100%" class="img_box">
        </div>

        <div class="col-md-2" style="display: flex; align-items: center;">
            <img src="https://i.pinimg.com/736x/0e/fc/b5/0efcb563b429c483014baf2c1375304c.jpg"
                width="100%">
        </div>

        <div class="col-md-5" (click)="onClickC2()">
            <img [src]="character2Image.image_url" width="100%" class="img_box">
        </div>
    </div>
        
    </body>
  </html>